@media (min-width: 1200px) {
	section {

		margin-right: 20%;
		margin-left: 20%;
		font-family: KoHo, sans-serif;
		background-color: #E4E4E4;
		border-radius: 15px;
		opacity: 0.95;
	}}

	h1 {
		font-weight: bold;
		font-size: 50px;
		text-align: center;
		font-variant: small-caps;
		color: #3C1800;

	}

	h2 {
		font-weight: bold;
		font-size: 30px;
		margin-left: 15px;
		font-variant: small-caps;
		color: #3C1800;
		
	}

	#editor {
		text-align: center;
	}

	p, article {
		font-size: 18px;
		margin-left: 15px;
		margin-right: 15px;
		text-align: justify;
		font-weight: bolder;
	}

	img {
			padding-top: 15px;
			padding-bottom: 15px;
			height: 300px;
	}

	figcaption {
		font-weight: bold;
	}
	.panel-footer {
	  padding-top: 35px;
	  padding-bottom: 30px;
	  background-color: #222;
	  border-top: 0;
	}
	.panel-footer div.row {
	  margin-bottom: 35px;
	}
	#links, #address {
	  line-height: 2;
	}
	div.container {
		color: #E1E1E1;
	}
	#links > h6, #address > h6 {
	  font-size: 1.6em;
	}
	#address p {
	  line-height: 1.8;
	}
	#testimonials {
	  font-style: italic;
	}
	#testimonials p:nth-child(2) {
	  margin-top: 25px;
	}
	ul > a {
		text-decoration: none;
		color: #A9A9A9;
		font-weight: bold;

	}

@media (min-width: 992px) and (max-width: 1199px) {

	section {

		margin-right: 5%;
		margin-left: 5%;
		font-family: KoHo, sans-serif;
		background-color: #E4E4E4;
		border-radius: 2px;
		opacity: 0.95;
	}
}

@media (max-width: 991px) {

	section {

		margin-right: 5%;
		margin-left: 5%;
		font-family: KoHo, sans-serif;
		background-color: #E4E4E4;
		border-radius: 2px;
		opacity: 0.95;
		font-size: 80%;
	}

	img {
		height: 180px;
	}

	.panel-footer {
		padding-top: 35px;
		padding-bottom: 30px;
		background-color: #222;
		border-top: 0;
		font-size: 80%;
	}

	.panel-footer div.row {
		text-align: center;
	}

	.panel-footer div.container {
		padding-left: 0px;
		padding-right: 0px;
	}

	#address p {
		text-align: center;
	}

	strong, h2, p, b, article, #musk, footer {
		font-size: 90%;
	}
}}

